@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Montserrat:wght@300;400;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color: #229bf7;
    margin: 0 0 0 3px;
    cursor: pointer;
}
.keep{
    color: #e4e4e4
}
::-webkit-scrollbar {
    display: none;
}

:root{

    --main-background: #121212,
    --table-header-background: #343a40,
    --table-header-font-color: #9a938a,
    --table-price-color: #706f67,
    --table-price-heigh: #70a338,
    --table-price-low: #ae3b2e,
}